/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 75%;
}



/* inizio header */
header{
    height: 80px;
    background-color: lightskyblue;
    display: flex;
    align-items: center;
}

header .container{
    border: 1px dashed black;
    background-color: rgb(187, 165, 38);
}

header .row{
    display: flex;
}

header .row *{
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px dashed black;
}

header .row .logo, .account{
    width: 20%;
}

header .row nav{
    width: 60%;
    text-align: center;
}

header .row .logo{
    padding-left: 8px;
}

header .row .account{
    text-align: right;
    padding-right: 8px;
}
/* fine header/ */

/* regole settori main  */
main .big-box{
    padding-top: 50px;
    padding-bottom: 50px;
}

main .big-box .container{
    height: 50vh;
    border: 1px dashed black;
}

main .big-box .container .row{
    display: flex;
}
/* inizio settore 1 */

main .blue{
    background-color: darkblue;
}

main .blue .fucsia{
    width: 60%;
    border: 1px dashed black;
    background-color: rgb(211, 26, 140);
}
/* fine settore 1 */
.row{
    height: 100%;
}
/* inizio settor1 2-3-4 */

.pink{
    background-color: pink;
    width: 40%;
}

.lightblue{
    background-color: cornflowerblue;
    width: 60%;
}

main .grey{
    background-color: lightgrey;
}

/* fine settori 2-3-4  */
